.w{
    background-image: url("./images/d1.jfif");
    background-size: cover;
    height: 100px;
    width: 100px;
    

    
}
.q{
   background-image: url("./images/d2.jfif");
   background-size: cover;
    height: 100px;
    width: 100px;
}
.a{
   background-image: url("./images/d3.jfif");
   background-size: cover;
    height: 100px;
    width: 100px;
}
.s{
   background-image: url("./images/d4.jfif");
   background-size: cover;
    height: 100px;
    width: 100px;
}
.g{
   background-image: url("./images/drum.png");
   background-size: cover;
    height: 100px;
    width: 100px;
}
.f{
   background-image: url("./images/d6.jfif");
   background-size: cover;
    height: 100px;
    width: 100px;
}
.d{
   background-image: url("./images/d7.jfif");
   background-size: cover;
    height: 100px;
    width: 100px;
}
.j{
    background-image: url("./images/d9");
    background-size: cover;
     height: 100px;
     width: 100px;

}
.k{
   background-image: url("./images/d8.jfif");
   background-size: cover;
    height: 100px;
    width: 100px;

}